.bootstrap-tagsinput {
    width: 100%;
}
.label {
    line-height: 2 !important;
}
.header{
  background-image: url("../images/EE_Banner.png");
}
.container{
  background-image: url("../images/bg.png");
}
